{{!-- <div>
    <img width="300" height="200" src="{{imagePath}}" alt="">
</div>
<h4>{{name}}</h4>
<div>
    <a href="/study/{{courseID}}-1">Học ngay</a>
</div> --}}

<div class="categories_post">
    <img class="card-img rounded-0" width="400" height="200" src="{{imagePath}}" alt="post">
    <div class="categories_details">
        <div class="categories_text">
            <a href="/study/{{courseID}}-1">
                <h5>{{name}}</h5>
            </a>
            <div class="border_line"></div>
            <a href="/study/{{courseID}}-1">
                <b style="font-size: 20px">Học ngay</b>
            </a>
        </div>
    </div>
    <hr class="line">
</div>