<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="/"><img src="../img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Khóa học</a>
              <ul class="dropdown-menu">
                {{#each categories}}
                <li class="nav-item active" style="width: 240px;"><a class="nav-link" id="category{{categoryID}}"
                    name="brand" onclick="selectParam('category', {{categoryID}} , true)" href="#">{{name}}</a></li>
                {{/each}}
                <li class="nav-item active"><a class="nav-link" href="/category?limit=9">Tất cả khóa học</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="blog">Bài viết</a></li>
            <li class="nav-item"><a class="nav-link" href="contact">Liên Hệ</a></li>
            <li class="nav-item"><a class="nav-link" href="contact">Thảo luận</a></li>
          </ul>
          <ul class="nav-shop" style="padding-top: 2%;">
            {{!-- <li class="nav-item"><button><i class="ti-search"></i></button></li> --}}
            <li class="nav-item"><button onclick="location.href='/cart'"><i class="ti-shopping-cart"></i><span
                  class="nav-shop__circle" id="cart-badge">{{totalQuantity}}</span></button> </li>
            {{#if isLoggedIn}}
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">{{sesName}}</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/user/account">Tài khoản</a></li>
                {{#ifCond roleName 3}}
                <li class="nav-item"><a class="nav-link" href="/admin">Quản lý</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/statistical">Thống kê</a></li>
                {{/ifCond}}
                {{#ifCond roleName 2}}
                <li class="nav-item"><a class="nav-link" href="/teacher/select_teacher_course">Quản lý</a></li>
                {{/ifCond}}
                <li class="nav-item"><a class="nav-link" href="/user/logout">Đăng xuất</a></li>
              </ul>
            </li>
            {{else}}
            <li class="nav-item"><a href="/user/register">Đăng kí</a></li>
            <li class="nav-item"><a href="/user/login">Đăng nhập</a></li>
            {{/if}}
            {{!-- <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li> --}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>