<!DOCTYPE html>
<html lang="en">

<body>
    <!-- ================ category section start ================= -->
    <section class="blog_area single-post-area py-80px section-margin--small">
        <div class="container">
            <div class="row">
                <!--<div class="col-lg-3">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget ads_widget">
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">QUẢN LÝ</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="/admin" class="d-flex justify-content-between">
                                        <p>Quản lý người dùng</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/revenue" class="d-flex justify-content-between">
                                        <p>Quản lý doanh thu</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/register" class="d-flex justify-content-between">
                                        <p>Thêm người dùng</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/select_course" class="d-flex justify-content-between">
                                        <p>Quản lý khóa học</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Thống kê</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>-->
                {{>nav_admin}}
                <div class="col-lg-9">
                    <div class="col-xl-12 col-lg-8 col-md-7">
                        <!-- Start Filter Bar -->
                        <div class="filter-bar d-flex flex-wrap align-items-center">
                            <div class="sorting mr-auto">
                                <div>
                                    <a class="btn btn-primary" href="/admin/Insert_course"><i
                                            class="fa fa-plus"></i>Thêm khóa học mới</a>
                                </div>
                            </div>
                            <div>
                                <div class="input-group filter-bar-search">
                                    <!--<input type="text" name="searchCourse" id="searchCourse"
                                                                    placeholder="Tìm kiếm theo tên">
                                                                <button type="submit" onclick="searchCourse()" class="button_submit"><i
                                                                        class="ti-search button_search ion_search"></i></button>-->
                                    <input type="text" class="form-control" id="searchCourse" onkeyup="SearchCourse()" placeholder="Tìm kiếm theo tên"
                                        title="Type in a name">
                                </div>
                            </div>
                        </div>

                        <form action="#" method="POST">
                            <table id="mytablecourse" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên_Khóa_Học</th>
                                        <th scope="col">Giá_Tiền</th>
                                        <th scope="col">SL_Videos</th>
                                        <th scope="col">Giảm_Giá</th>
                                        <th scope="col">Ngày_Khai_Giảng</th>
                                        <th scope="col">Ngày_Kết_Thúc</th>
                                        <th scope="col">SL_Học_Viên</th>
                                        <th scope="col">Tùy_Chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each Courses}}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td><a href="/category/{{courseID}}">{{name}}</a></td>
                                        <td>{{price}}</td>
                                        <td>{{NoVideos}}</td>
                                        <td>{{priceDis}}</td>
                                        <td>{{date_startedAt}}</td>
                                        <td>{{date_endedAt}}</td>
                                        <td>{{NumberStudent}}</td>
                                        <td>
                                            <a href="/admin/update_course?courseID={{courseID}}"><i class="fa fa-pencil fa-lg"
                                                    aria-hidden="true"></i></a>
                                            <a href="/admin/select_lession?courseID={{courseID}}"><i class="fa fa-book fa-lg"
                                                    aria-hidden="true"></i></a>
                                            <a href="/admin/delete/{{courseID}}"
                                                onclick="return confirm('Are you sure to delete this course ?');"><i
                                                    class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </form>

                        <nav>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{prev_value}}&searchUser={{searchCourse}}">
                                        <i class="fa fa-backward" aria-hidden="true"></i>
                                    </a>
                                </li>
                                {{#each this.page_numbers}}
                                {{#if isCurrentPage}}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="javascript:;">{{value}} <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{next_value}}&searchUser={{searchCourse}}">
                                        <i class="fa fa-forward" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    </section>
    <script>
        function bannedListChange(obj) {
            let url = '/admin?page=1&banned=' + obj.value;
            location.href = url;
        }
        function SearchCourse() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchCourse");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytablecourse");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</html>